body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

header input {
  width: 150px;
  height: 20px;
}

header button {
  margin-left: 20px;
  border: none;
  width: 80px;
  height: 25px;
  font-size: 15px;
  font-weight: 600;
  color: aliceblue;
  background-color: blue;
}

header button:hover {
  background-color: red;
}

section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tab {
  width: 100%;
  border-collapse: collapse;
}

.tab thead {
  background-color: darkgray;
}
.tab tbody {
  background-color: wheat;
}
.tab select {
  margin-top: 20px;
}
.tab input {
  margin-top: 20px;
}

.kolom input {
  margin-top: 20px;
}

.second {
  display: flex;
  justify-content: center;
}

.second button {
  margin-left: 20px;
  border: none;
  width: 80px;
  height: 25px;
  font-size: 15px;
  font-weight: 600;
  color: aliceblue;
  background-color: blue;
}

.second button:hover {
  background-color: red;
}
